@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


*{
  box-sizing: border-box;
  /* background-color: #000; */
  /* color: black; */
  /* color: #fff; */
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Space Mono' ,'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
  padding: 12px 32px;
  font-size: 1.2em;
  background-color: #fff;
  text-transform: uppercase;
  cursor: pointer;


}


.btn-light{
  background: rgba(255, 255, 255, .2);
}

.btn:hover{
  background: rgba(255, 255, 255, .2);


}